entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libGL", "libGLU", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "qhull", "rustc", "tcl", "tk", "zip", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python", "main_service.py"]
deploymentTarget = "vm"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "BTC Analysis Service"

[[workflows.workflow]]
name = "BTC Analysis Service"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main_service.py"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN_VALUE = "8268294938:AAGCvDDNHhb5-pKFQYPJrZIJTxMVmu79oYo"
TELEGRAM_CHAT_ID = "8391537149"
TELEGRAM_BOT_TOKEN = "8268294938:AAFIdr7FfJdtq__FueMOdsvym19H8IBWdNs"
